body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fbfbfb;
    font-family: 'Varela Round', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

input {
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit {
    color: #fff;
    background-color: #435d7d;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}