#modal.hide {
    display: none;
}

#modal {
    background-color: #0E0A14ef;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

#modal button {
    width: 30%;
    height: 46px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400;
}

#modal button:hover {
    background-color: #2fb86e;
}

#modal h1 {
    color: white;
    margin-top: 32px;
}

#modal p,
a {
    color: white;
    margin-top: 24px;
}